= form_for @payment, html: { class: "basic-grey" } do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2
        = pluralize(@payment.errors.count, "error")
        prohibited this registration from being saved:
      %ul
        - @payment.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :full_name
    = f.text_field :full_name
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :telephone
    = f.text_field :telephone
  .actions
    %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
          data: {amount: 1000, description: "Test", key: Rails.application.secrets.stripe_publishable_key}}
